footer{
    font-family: Arial, Helvetica, sans-serif;
}
footer hr{
    background-color: rgb(0, 0, 0); 
    border: none;
    height: 1px;
    margin-top: 60px;
    margin-bottom: 60px;
}
footer h5{
    font-weight: bolder;
}
footer span{
   font: .8em sans-serif ;
   color: black;
   margin-bottom: 40px;  
}
@media screen and (max-width:576px) {
    footer{
        font-size: .85rem;
    }
}